In [ ]:
import pandas as pd


def age_buckets(age):
    if (age < 27):
        return 'Gen-Z'
    elif (age >= 27) and (age <= 42):
        return 'Millennial'
    elif (age>=43) and (age <= 48):
        return 'Gen X'
    elif (age>=59) and (age <= 68):
        return 'Boomer II'
    elif (age>=59) and (age <= 77):
        return 'Boomer I'
    else:
        return 'Post War'

In [ ]:
df1 = pd.read_excel('/content/Nov2022_Voters_1of3.xlsx')
df2 = pd.read_excel('/content/Nov2022_Voters_2of3.xlsx')
df3 = pd.read_excel('/content/Nov2022_Voters_3of3.xlsx')

nov_2022_voters = pd.concat([df1,df2,df3])
nov_2022_voters.sample(5)

,Voter ID,VOTE_TYPE,CITY,ZIP,SEX,DATE_VOTED,BIRTHYEAR,Voting Site,Voting Precinct,Congressional House District,...,School District,School District Postion/Seat District,Municipality,Municipality District,Utility District,Management District,Community College District,Harris County SCHOOL TRUSTEE District,Community College Position District,Metro District
114936,2.167865e+09,E,FRIENDSWOOD,77546,NaN,2022-11-08,1975,51051,782,CONGRESSIONAL DIST 36,...,CLEAR CREEK ISD,CLEAR CREEK ISD POS 4,NaN,NaN,HC MUD 055,NaN,NaN,HC SCHOOL TRUSTEE POS 1,NaN,NaN
97315,1.018686e+09,P,HOUSTON,77084,F,2022-10-26,1954,SRD135S,650,CONGRESSIONAL DIST 08,...,CYPRESS-FAIRBANKS ISD,NaN,NaN,NaN,HC MUD 136,NaN,LONE STAR COLLEGE SYSTEM,HC SCHOOL TRUSTEE POS 2,LONE STAR CS DISTRICT 3,METROPOLITAN TRANSIT AUTHORITY
434139,1.118863e+09,P,HOUSTON,77073,M,2022-10-28,1973,SRD141G,956,CONGRESSIONAL DIST 18,...,SPRING ISD,NaN,NaN,NaN,HC MUD 096,NaN,LONE STAR COLLEGE SYSTEM,HC SCHOOL TRUSTEE POS 6,LONE STAR CS DISTRICT 6,METROPOLITAN TRANSIT AUTHORITY
402976,1.110120e+09,E,HOUSTON,77064,F,2022-11-08,1980,12058,671,CONGRESSIONAL DIST 38,...,CYPRESS-FAIRBANKS ISD,NaN,NaN,NaN,WEST HC MUD 010,NaN,LONE STAR COLLEGE SYSTEM,HC SCHOOL TRUSTEE POS 4,LONE STAR CS DISTRICT 3,METROPOLITAN TRANSIT AUTHORITY
69135,2.172382e+09,P,HOUSTON,77079,M,2022-11-03,1995,SRD133,483,CONGRESSIONAL DIST 38,...,SPRING BRANCH ISD,NaN,HOUSTON; CITY OF,HOUSTON COUNCIL DISTRICT G,NaN,NaN,NaN,HC SCHOOL TRUSTEE POS 2,NaN,METROPOLITAN TRANSIT AUTHORITY

In [ ]:
df1 = pd.read_csv('/content/AllRegistered_Harris_1of3.csv')
df2 = pd.read_csv('/content/AllRegistered_Harris_2of3.csv')
df3 = pd.read_csv('/content/AllRegistered_Harris_3of3.csv')

all_voters = pd.concat([df1,df2,df3])
all_voters.sample(5)

        Status    Voter ID  Precinct     City    Zip Effective Date
687163  Active  1142432361       643  HOUSTON  77084      4/20/2007
483268  Active  1119033908       927  HOUSTON  77018       1/1/2002
654914  Active  2126455443       140  HOUSTON  77021      7/27/2022
614225  Active  1104929711      1086     KATY  77493      12/4/2008
416408  Active  1109548972       865  HOUSTON  77057       1/1/2002

In [ ]:
print('[+] Number of Votes Cast in November: ', nov_2022_voters.shape[0])
print('[/] Number of Registered Voters: ', all_voters.shape[0])
print('[=] Voter Turn out as a percentage', (nov_2022_voters.shape[0] / all_voters.shape[0]) * 100)

[+] Number of Votes Cast in November:  1107401
[/] Number of Registered Voters:  2538176
[=] Voter Turn out as a percentage 43.62979556973197

In [ ]:
nov_2022_voters.columns

Index(['Voter ID', 'VOTE_TYPE', 'CITY', 'ZIP', 'SEX', 'DATE_VOTED',
       'BIRTHYEAR', 'Voting Site', 'Voting Precinct',
       'Congressional House District', 'State Senate District',
       'State Representative District', 'County Commissioner District',
       'State Board of Education District',
       'Just of the Peace/Constable District', 'School District',
       'School District Postion/Seat District', 'Municipality',
       'Municipality District', 'Utility District', 'Management District',
       'Community College District', 'Harris County SCHOOL TRUSTEE District',
       'Community College Position District', 'Metro  District'],
      dtype='object')

In [ ]:
"""
Voter Turnout (Top 5) and (Bottom 5):
    Distribution by  City, Zip, Sex, Age (BIRTHYEAR)
Voters who didnt Turnout:
    Distribution by  City, Zip, Sex, Age (BIRTHYEAR)
"""

'Voter Turnout:\n    Distribution by  City, Zip, Sex, Age (BIRTHYEAR)\nVoters who didnt Turnout:\n    Distribution by  City, Zip, Sex, Age (BIRTHYEAR)\n    '

In [ ]:
def top_counter(df, group_col):
    xx = df[group_col].value_counts(normalize=True)
    percent = xx / xx.sum()
    fmt = '{:.1%}'.format
    return pd.DataFrame({'percentage': percent.map(fmt)}).reset_index().head(5)

def bottom_counter(df, group_col):
    xx = df[group_col].value_counts(normalize=True)
    percent = xx / xx.sum()
    fmt = '{:.1%}'.format
    return pd.DataFrame({'percentage': percent.map(fmt)}).reset_index().tail(5)

### General Turnout

In [ ]:
top_counter(nov_2022_voters, 'CITY')

     index percentage
0  HOUSTON      61.4%
1   SPRING       6.9%
2  CYPRESS       6.1%
3     KATY       5.1%
4   HUMBLE       4.0%

In [ ]:
top_counter(nov_2022_voters, 'VOTE_TYPE')

  index percentage
0     P      62.5%
1     E      31.5%
2     M       5.4%
3     Z       0.4%
4     A       0.2%

In [ ]:
bottom_counter(nov_2022_voters, 'CITY')

            index percentage
26            ***       0.0%
27  MISSOURI CITY       0.0%
28      NEW CANEY       0.0%
29      HEMPSTEAD       0.0%
30           2088       0.0%

In [ ]:
top_counter(nov_2022_voters, 'ZIP')

   index percentage
0  77433       3.1%
1  77429       3.0%
2  77379       2.8%
3  77346       2.2%
4  77449       2.2%

In [ ]:
bottom_counter(nov_2022_voters, 'ZIP')

       index percentage
145    77565       0.0%
146    77386       0.0%
147    77539       0.0%
148  HOUSTON       0.0%
149    77340       0.0%

In [ ]:
top_counter(nov_2022_voters, 'SEX')

  index percentage
0     F      55.0%
1     M      45.0%
2     0       0.0%
3     N       0.0%
4     1       0.0%

In [ ]:
from datetime import datetime

idx = nov_2022_voters['BIRTHYEAR'].apply(lambda x: True if type(x)==int else False)
age_segment = nov_2022_voters[idx]
age_segment = age_segment['BIRTHYEAR'].apply(lambda x: datetime.now().year - x)
age_segment = age_segment.apply(lambda x: age_buckets(x)).reset_index(drop=True).to_frame()
top_counter(age_segment, 'BIRTHYEAR')

        index percentage
0    Post War      25.1%
1  Millennial      24.1%
2   Boomer II      19.6%
3    Boomer I      13.6%
4       Gen X       9.9%

In [ ]:
bottom_counter(age_segment, 'BIRTHYEAR')

        index percentage
1  Millennial      24.1%
2   Boomer II      19.6%
3    Boomer I      13.6%
4       Gen X       9.9%
5       Gen-Z       7.7%

## Voters who did not turn out

In [ ]:
holder = pd.merge(all_voters, nov_2022_voters, left_on='Voter ID', right_on='Voter ID', how='outer', indicator=True)

In [ ]:
not_voted = holder[holder['_merge']=='left_only']

In [ ]:
top_counter(not_voted, 'City')

     index percentage
0  HOUSTON      65.1%
1   SPRING       5.5%
2     KATY       5.5%
3  CYPRESS       4.5%
4   HUMBLE       4.0%

In [ ]:
bottom_counter(not_voted, 'City')

            index percentage
23       STAFFORD       0.1%
24         WALLER       0.1%
25         PORTER       0.0%
26  MISSOURI CITY       0.0%
27      NEW CANEY       0.0%

In [ ]:
top_counter(not_voted, 'Zip')

     index percentage
0  77449.0       3.0%
1  77433.0       2.4%
2  77084.0       2.4%
3  77429.0       2.0%
4  77379.0       1.9%

## GOTV Contacted

In [ ]:
contacted_voters = pd.read_excel('/content/GOTV_TargetVoters.xlsx')
contacted_voters.head()

     Voter ID      City   Zip5  Age Sex   PrecinctName
0  1122198569   Houston  77009   59   F  Harris - 0046
1  1114307920   Houston  77003   63   M  Harris - 0010
2  1186408232  Pasadena  77504   74   F  Harris - 0347
3  1161567574  Pasadena  77504   53   F  Harris - 0752
4  1068564056   Houston  77026   56   M  Harris - 0046

In [ ]:
contacted_voters_age = contacted_voters['Age'].apply(lambda x: age_buckets(x)).reset_index(drop=True).to_frame()
top_counter(contacted_voters_age, 'Age')

        index percentage
0  Millennial      32.7%
1       Gen-Z      22.6%
2    Post War      18.0%
3   Boomer II      11.5%
4       Gen X       8.6%

In [ ]:
top_counter(contacted_voters, 'Sex')

  index percentage
0     M      49.9%
1     F      49.9%
2     U       0.3%

In [ ]:
contacted_voters_who_voted = pd.merge(contacted_voters, nov_2022_voters, on='Voter ID', how='inner')
print('Contacted Voters', contacted_voters.shape[0])
print('Contacted Voters who voted', contacted_voters_who_voted.shape[0])
contacted_voters_who_voted.shape[0] / contacted_voters.shape[0]

Contacted Voters 22046
Contacted Voters who voted 3560

0.16148054068765308

In [ ]:
contacted_voters_who_voted_ = contacted_voters_who_voted['Age'].apply(lambda x: age_buckets(x)).reset_index(drop=True).to_frame()
top_counter(contacted_voters_who_voted_, 'Age')

        index percentage
0  Millennial      32.7%
1       Gen-Z      26.0%
2    Post War      14.8%
3   Boomer II      11.4%
4    Boomer I       7.6%

In [ ]:
top_counter(contacted_voters_who_voted, 'VOTE_TYPE')

  index percentage
0     E      51.2%
1     P      45.6%
2     M       2.3%
3     Z       0.8%

In [ ]:

estimates = {
    'unit_cost' : {
        'door' : 2,
        'postcard': 0.35,
        'text': 0.06,
        'call': 0.13
    },
    'attempts' : {
        'door' : 7010,
        'postcard' : 37429,
        'call' : 13031,
        'text' : 18656,
    }
}

In [ ]:
costs = pd.DataFrame(estimates).reset_index().rename({'index':'method'}, axis=1)
costs['total_costs'] = costs['unit_cost'] * costs['attempts']
costs

     method  unit_cost  attempts  total_costs
0      door       2.00      7010     14020.00
1  postcard       0.35     37429     13100.15
2      text       0.06     18656      1119.36
3      call       0.13     13031      1694.03

In [ ]:
'Total Costs', costs['total_costs'].sum()

('Total Costs', 29933.54)

In [ ]:
print('Cost per vote', costs['total_costs'].sum() / contacted_voters_who_voted.shape[0] )

Cost per vote 8.40829775280899

What are the demographic characteristics of precincts with a higher turnout rate?

In [ ]:
top_precincts = top_counter(nov_2022_voters, 'Voting Precinct')
top_precincts = top_precincts['index'].to_list()

top_precints_data = nov_2022_voters[nov_2022_voters['Voting Precinct'].isin(top_precincts)]

idx = top_precints_data['BIRTHYEAR'].apply(lambda x: True if type(x)==int else False)
age_segment = top_precints_data[idx]
age_segment = age_segment['BIRTHYEAR'].apply(lambda x: datetime.now().year - x)
age_segment = age_segment.apply(lambda x: age_buckets(x)).reset_index(drop=True).to_frame()
top_counter(age_segment, 'BIRTHYEAR')

        index percentage
0  Millennial      26.1%
1    Post War      25.1%
2   Boomer II      18.3%
3       Gen X      12.2%
4    Boomer I      12.1%

In [ ]:
bottom_precincts = bottom_counter(nov_2022_voters, 'Voting Precinct')
bottom_precincts = bottom_precincts['index'].to_list()

bottom_precints_data = nov_2022_voters[nov_2022_voters['Voting Precinct'].isin(bottom_precincts)]

idx = bottom_precints_data['BIRTHYEAR'].apply(lambda x: True if type(x)==int else False)
age_segment = bottom_precints_data[idx]
age_segment = age_segment['BIRTHYEAR'].apply(lambda x: datetime.now().year - x)
age_segment = age_segment.apply(lambda x: age_buckets(x)).reset_index(drop=True).to_frame()
top_counter(age_segment, 'BIRTHYEAR')

        index percentage
0  Millennial      25.0%
1   Boomer II      25.0%
2    Boomer I      16.7%
3    Post War      16.7%
4       Gen-Z      16.7%

In [ ]:
top_precincts = top_counter(nov_2022_voters, 'Voting Precinct')
top_precincts = top_precincts['index'].to_list()

top_precints_data = nov_2022_voters[nov_2022_voters['Voting Precinct'].isin(top_precincts)]

top_counter(top_precints_data, 'VOTE_TYPE')

  index percentage
0     P      68.4%
1     E      27.3%
2     M       3.8%
3     Z       0.4%
4     A       0.1%

## People WHo Did not vote

In [ ]:
top_precincts = top_counter(not_voted, 'Precinct')
top_precincts = top_precincts['index'].to_list()

top_precints_data = not_voted[not_voted['Precinct'].isin(top_precincts)]
top_counter(top_precints_data, 'Zip')

     index percentage
0  77083.0      20.9%
1  77072.0      19.6%
2  77449.0      19.2%
3  77042.0      15.6%
4  77041.0      14.2%